/* ============== //
//  Main Styling  //
// ============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #E7D9C3;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, html {
  width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Koulen', cursive;
  font-size: 60px;
  text-align: center;
  letter-spacing: 5px;
}

p {
  font-family: 'News Cycle', sans-serif;
}

.content {
  flex-grow: 1;
}

/* ======== //
//  Navbar  //
// ======== */

.navbar {
  width: 100vw;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: #E7D9C3;
  border-bottom: #1D1C1A 2px solid;
  font-size: 2rem;
}

.navbar-info {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 1200px;
  align-items: center;
  letter-spacing: 2px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: flex;
}

.pages {
  text-decoration: none;
  color: #1D1C1A;
  display: block;
  color: inherit;
  height: 36px;
  border-radius: 25px;
  line-height: 30px;
  padding: 0 10px;
  border: 1.5px solid transparent;
}

.navbar a:focus, .navbar a:hover, .navbar a.active{
  border-color: #1D1C1A;
}

/* ======== //
//   Body   //
// ======== */

.home-content {
  width: 100vw;
  height: 100vh;
  background-image: url(/documents/breadwinner\ background.jpeg);
  background-size: cover;
  background-position-y: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #1D1C1A 2px solid;
}

.home-photo-bagels {
  width: 100vw;
  height: 377px;
  background-image: url(/documents/bagels.png);
  background-size: cover; /* This maintains the image's aspect ratio */
  background-position-y: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #1D1C1A 2px solid;
  border-top: #1D1C1A 2px solid;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 6rem;
  border-radius: 25px;
  background-color: #E7D9C3;
  border: 1.5px solid #1D1C1A;
  color: #1D1C1A;
  text-decoration: none;
}

.button a {
  text-decoration: none;
  color: #1D1C1A;
  transition: color 0.3s ease-in-out;
}

.button a:hover {
  color: #1d1c1a78;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 8rem 3rem;
}

.description-styling {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 3rem 0;
}

.location-styling {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #1D1C1A;
}

.p-location {
  font-size: 2rem;
  color: #E7D9C3;
  text-align: center;
}

.description-2 {
  padding: 8rem 3rem;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.p {
  font-size: 2rem;
  text-align: center;
}

.h1 {
  padding: 2rem 0;
}

.breadwinner {
  position: relative;
  text-align: center;
  font-size: 140px; /* Adjust the font size as needed */
  color: #E7D9C3;
  margin-top: 45px;
  letter-spacing: 5px;
}

.google-map {
  .google-map {
    padding-bottom: 50%;
    position: relative;
  }

  .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.bagel-options {
  display: inline-block;
}

.bagel-options > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.bagel-options-scrollable {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;
  white-space: nowrap;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  max-width: 1200px;
  width: 100%;
  padding-bottom: 2rem;
}

.socials-styling {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.socials p {
  padding-top: 20px;
  display: inline-block;
}

.socials a {
  text-decoration: none;
  color: #1D1C1A;
  transition: color 0.1s ease-in-out;
}

.socials a:hover {
  color: grey;
}

/* =========== //
//   contact   //
// =========== */

.email {
  font-size: 3.5rem;
}

.contact-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100vw;
  height: 97vh;
}

.contact {
  margin-top: 45px;
  position: relative;
  text-align: center;
  max-width: 1200px;
}

/* ========== //
//   footer   //
// ========== */

.footer {
  text-align: center;
  position: absolute;
  width: 100%;
}

.footer a {
  font-size: 1rem;
  text-decoration: none;
  color: #1D1C1A;
  transition: color 0.1s ease-in-out;
}

.footer a:hover {
  font-family: cursive;
}

/* ======== //
//   menu   //
// ======== */

.menu-options {
  display: inline-flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container > img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.image-container {
  padding: 1rem;
}

.menu-options-scrollable {
  padding-top: 12rem;
}

.bagel-menu {
  text-align: left;
  padding-left: 1rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 2rem;
  padding-top: 20rem;
}

.bagel-description {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.bagel-font {
  font-size: 3rem;
}

/* ========== //
//   mobile   //
// ========== */

@media (max-width: 768px) {

  .description {
    flex-direction: column;
  }

  .location {
    flex-direction: column;
  }

  .breadwinner {
    font-size: 50px;
    overflow: hidden;
  }

  .navbar {
    height: 4rem;
    font-size: .8rem;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  .pages {
    height: 25px;
    line-height: 20px;
    padding: 0 7px;
  }

  .p {
    font-size: 1rem;
  }

  .email {
    font-size: 1rem;
  }

  .menu {
    display: grid;
    justify-items: center;
    padding-top: 10rem;
  }

  .bagel-description {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .bagel-font {
    font-size: 2rem;
  }
}
