/* ============== //
//  Main Styling  //
// ============== */

* {
  background-color: #E7D9C3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
  overflow-x: hidden;
}

body, html {
  overflow-x: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Koulen', cursive;
  font-size: 60px;
}

p {
  font-family: 'News Cycle', sans-serif;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 70vh; /* Make the container take the full viewport height */
  padding: 9rem;
  width: 100%;
}

/* ======== //
//  Navbar  //
// ======== */

.navbar {
  display: flex;
  justify-content: space-around; /* Aligns items to the center */
  align-items: center; /* Aligns items to the top */
  position: sticky; /* Makes the navbar sticky */
  top: 0; /* Aligns the navbar to the top of the viewport */
  z-index: 1000; /* Ensures that it appears above other content */
  background-color: #E7D9C3; /* You might want to set a background color to ensure text readability */
  height: 10rem;  /* Adjust to fit your design */
  max-height: 18.75rem; /* Should be the same as height */
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.pages {
  text-decoration: none;
  color: #1D1C1A;
  transition: color 0.3s ease-in-out;
  display: block;
  text-decoration: none;
  color: inherit;
  height: 30px;
  border-radius: 20px;
  line-height: 25px;
  padding: 0 10px;
  border: 1px solid transparent;
  transition: border-color .3s ease;
}

.pages a {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* smooth transition */
  text-decoration: none;
  color: #1D1C1A;
}

.navbar a:hover, .navbar a:focus, .navbar a.active{
  border-color: #1D1C1A;
}

.navbar a:hover a {
  display: block;
}

.logo {
  width: 125px;
  height: 125px;
  border-radius: 5px;
}

/* ======== //
//   Body   //
// ======== */

.home-content {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home-photo {
  width: 100%;
  height: 650px;
  object-fit: cover; /* This maintains the image's aspect ratio */
  object-position: center; /* Adjusts the image positioning to show the lower half */
  display: block;
}

.home-photo-bagels {
  width: 100%;
  height: 377px;
  object-fit: cover; /* This maintains the image's aspect ratio */
  object-position: center; /* Adjusts the image positioning to show the lower half */
  display: block;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.description-2 {
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 3rem;
  font-size: 2rem;
}

.p {
  font-size: 2rem;
}

.breadwinner {
  position: absolute; /* Position the text absolutely within the container */
  top: 50%; /* Adjust the top value to vertically center the text */
  left: 50%; /* Adjust the left value to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
  background-color: rgba(255, 255, 255, 0); /* Add a background color for better visibility */
  padding: 10px 20px; /* Add padding to the text for better readability */
  font-size: 140px; /* Adjust the font size as needed */
  color: #E7D9C3;
}

.google-map {
  .google-map {
    padding-bottom: 50%;
    position: relative;
  }

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 0px;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.socials p {
  padding-top: 20px;
  display: inline-block;
}

.socials a {
  text-decoration: none;
  color: #1D1C1A;
  transition: color 0.1s ease-in-out;
}

.socials a:hover {
  color: grey;
}

/* =========== //
//   contact   //
// =========== */

.contact-padding {
  padding: 2rem;
}

.email {
  font-size: 3.5rem;
}

/* ========== //
//   footer   //
// ========== */

.footer {
  font-size: 1rem;
}
